<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>应用宝库</title>
<link rel="stylesheet" href="css/comm.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
    	<div class="headerCon">
        	<a href="javascript:;" class="db logo fl">logo</a>
        	<ul class="fl">
            	<li><a href="javascript:;">排行榜</a></li>
                <li class="sLine">|</li>
                <li><a href="javascript:;">趋势</a></li>
            </ul>
            <div class="regLogin fr pr">
            	<!--<a href="javascript:;">注册</a> | <a href="javascript:;">登录</a>--><a href="javascript:;" class="setUp spr db" id="c_btn"></a>
                <div class="setList pa" id="c_list">
                	<i class="arrowUp spr db pa"></i>
                    <dl>
                    	<dd><a href="javascript:;"><i class="appBtn spr db"></i>我的应用</a></dd>
                        <dd><a href="javascript:;"><i class="attBtn spr db"></i>我的关注</a></dd> 
                        <dd><a href="javascript:;"><i class="userBtn spr db"></i>帐号设置</a></dd>
                        <dd><a href="javascript:;"><i class="exitBtn spr db"></i>退出</a></dd>
                    </dl>
                </div>
            </div>
            <div class="fr pr">
            	<input name=""  class="sInputShort db" value="应用宝" onfocus="if(value == defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value = defaultValue;this.style.color='#999'}"  type="text">
                <input name="" type="button" class="shortBtn db pa">
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="searchResultCon">
        	<p class="sTips">"应用宝"的搜索结果</p>
            <ul id="tabHd" class="searchTab">
                <li class="on"><a href="javascript:;">应用</a></li>
                <li><a href="javascript:;">词库</a></li>
                <li><a href="javascript:;">舆情</a></li>
            </ul>
            <div id="tabBd" class="searchTabCon">
            	<ul>
                	<li>
                    	<div class="searchResultList">
                        	<table width="100%" border="0">
                              <tr>
                                <td width="6%" rowspan="2" class="sRNum tc fb">1</td>
                                <td width="9%" rowspan="2"><img src="images/sImg1.png" width="72" height="72" class="sImg" alt="img"></td>
                                <td width="77%"><span class="sRTitle">QQ</span> <span class="db sRBtn">社交</span> 4.1亿下载</td>
                                <td width="8%"><a href="javascript:;" class="db sRBtn">关注</a></td>
                              </tr>
                              <tr>
                                <td><span class="db sRIcon"><i class="sRImg db"><img src="images/icon1.png" alt="img"></i>12</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon2.png" alt="img"></i>8</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon3.png" alt="img"></i>9</span><span class="stars star5"></span><span class="grade fb">3.7分</span>(4555评论)</td>
                                <td><a href="javascript:;" class="db sRBtn">对比</a></td>
                              </tr>
							</table>
						</div>
                      <div class="searchResultList">
                        	<table width="100%" border="0">
                              <tr>
                                <td width="6%" rowspan="2" class="sRNum tc fb">2</td>
                                <td width="9%" rowspan="2"><img src="images/sImg2.png" width="72" height="72" class="sImg" alt="img"></td>
                                <td width="77%"><span class="sRTitle">QQ空间</span> <span class="db sRBtn">社交</span> 4.1亿下载</td>
                                <td width="8%"><a href="javascript:;" class="db sRBtn">关注</a></td>
                              </tr>
                              <tr>
                                <td><span class="db sRIcon"><i class="sRImg db"><img src="images/icon1.png" alt="img"></i>124</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon2.png" alt="img"></i>55</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon3.png" alt="img"></i>544</span><span class="stars star6"></span><span class="grade fb">3.7分</span>(4555评论)</td>
                                <td><a href="javascript:;" class="db sRBtn">对比</a></td>
                              </tr>
							</table>
                        </div>
                      <div class="searchResultList">
                        	<table width="100%" border="0">
                              <tr>
                                <td width="6%" rowspan="2" class="sRNum tc fb">3</td>
                                <td width="9%" rowspan="2"><img src="images/sImg3.png" width="72" height="72" class="sImg" alt="img"></td>
                                <td width="77%"><span class="sRTitle">QQ音乐</span> <span class="db sRBtn">社交</span> 4.1亿下载</td>
                                <td width="8%"><a href="javascript:;" class="db sRBtn">关注</a></td>
                              </tr>
                              <tr>
                                <td><span class="db sRIcon"><i class="sRImg db"><img src="images/icon1.png" alt="img"></i>212</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon2.png" alt="img"></i>38</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon3.png" alt="img"></i>59</span><span class="stars star2"></span><span class="grade fb">3.7分</span>(4555评论)</td>
                                <td><a href="javascript:;" class="db sRBtn">对比</a></td>
                              </tr>
							</table>
                        </div>
                      <a href="javascript:;" class="loadMore db">加载更多..</a>
                  </li>
                </ul>
                <ul class="dn">
                	<li>
                    	<div class="noSearchResult tc">没有搜索结果！</div>
                    </li>
                </ul>
                <ul class="dn">
                	<li>	
                    	<div class="noSearchResult tc">没有搜索结果！</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
    	<p class="copy_link"><a href="javascript:;" >关于我们</a> <a href="javascript:;" >联系我们</a></p>
    	<p>Copyright © 2014-2015 应用宝库 版权所有　沪ICP备12031794号</p>
    </div>
</div>
<script type="text/javascript">
//浮层
window.onload = function() {var aBtn = document.getElementById("c_btn"),aCon = document.getElementById("c_list");aBtn.onclick = function() {if (aCon.style.display == "block") {aCon.style.display = "none";} else {aCon.style.display = "block";};};}
//tab切换
function tabChange(hd,bd,claName,callBack){var hdLis=document.getElementById(hd).getElementsByTagName("li");var bdUls = document.getElementById(bd).getElementsByTagName("ul");for(var i=0;i<hdLis.length;i++){	hdLis[i].index=i;hdLis[i].onclick=function(){for(var j=0;j<hdLis.length;j++){hdLis[j].className="";bdUls[j].style.display="none";}bdUls[this.index].style.display="block";this.className=claName.replace("{index}",this.index);};}}tabChange('tabHd','tabBd','on');
</script>
</body>
</html>
