<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>应用宝库</title>
<link rel="stylesheet" href="css/comm.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
    	<div class="headerCon">
        	<a href="javascript:;" class="db logo fl">logo</a>
        	<ul class="fl">
            	<li><a href="javascript:;">排行榜</a></li>
                <li class="sLine">|</li>
                <li><a href="javascript:;">趋势</a></li>
            </ul>
            <div class="regLogin fr pr">
            	<!--<a href="javascript:;">注册</a> | <a href="javascript:;">登录</a>--><a href="javascript:;" class="setUp spr db" id="c_btn"></a>
                <div class="setList pa" id="c_list">
                	<i class="arrowUp spr db pa"></i>
                    <dl>
                    	<dd><a href="javascript:;"><i class="appBtn spr db"></i>我的应用</a></dd>
                        <dd><a href="javascript:;"><i class="attBtn spr db"></i>我的关注</a></dd> 
                        <dd><a href="javascript:;"><i class="userBtn spr db"></i>帐号设置</a></dd>
                        <dd><a href="javascript:;"><i class="exitBtn spr db"></i>退出</a></dd>
                    </dl>
                </div>
            </div>
            <div class="fr pr">
            	<input name=""  class="sInputShort db" value="应用宝" onfocus="if(value == defaultValue){value='';this.style.color='#000'}" onblur="if(!value){value = defaultValue;this.style.color='#999'}"  type="text">
                <input name="" type="button" class="shortBtn db pa">
            </div>
        </div>
    </div>
    <div class="container">
    	<div class="searchResultList">
                        	<table width="100%" border="0">
                              <tr>
                                <td width="6%" rowspan="2" class="sRNum tc fb">1</td>
                                <td width="9%" rowspan="2"><img src="images/sImg1.png" width="72" height="72" class="sImg" alt="img"></td>
                                <td width="77%"><span class="sRTitle">QQ</span> <span class="db sRBtn">社交</span> 4.1亿下载</td>
                                <td width="8%"><a href="javascript:;" class="db sRBtn">关注</a></td>
                              </tr>
                              <tr>
                                <td><span class="db sRIcon"><i class="sRImg db"><img src="images/icon1.png" alt="img"></i>12</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon2.png" alt="img"></i>8</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon3.png" alt="img"></i>9</span><span class="stars star10"></span><span class="grade fb">3.7分</span>(4555评论)</td>
                                <td><a href="javascript:;" class="db sRBtn">对比</a></td>
                              </tr>
							</table>
						</div>
    	<div class="searchResultCon">
        	<ul id="tabHd" class="searchTab">
                <li class="on"><a href="javascript:;">详情</a></li>
                <li><a href="javascript:;">搜索权重</a></li>
                <li><a href="javascript:;">词库</a></li>
                <li><a href="javascript:;">舆情</a></li>
            </ul>
            <div id="tabBd" class="searchTabCon">
            	<ul>
                	<li>
                    	<div class="searchDetail">
                        	<div class="sdBor"><h3>版本</h3></div>
                            <div class="sdBon">内容</div>
                            <div class="sdBor">
                            	<h3 class="fl db">星评</h3>
                             <select name="" class="fr select db">
                    		  <option value="1">当前版本</option>
                    		  <option value="2">历史总汇</option>
                    		  <option>91手机助手</option>
                    		</select>
                          	<select name="" class="fr select mr db">
                    		  <option value="1">总评分</option>
                    		  <option value="2">应用宝</option>
                    		  <option>91手机助手</option>
                    		</select>
                            </div>
                            <div class="sdBon">
                            	<div class="reviewNum"><span>最近30天</span>300个评分</div>
                            </div>
                            <div class="sdBor"><h3>评论</h3></div>
                            <div class="sdBon">
                            <div class="reviewNum"><span>最近30天</span>100个评论</div>
                            <div class="review">
                            	<div>1、这个版本好</div>
                                <dl class="rTitle">
                                    <dd><span class="stars star3"></span></dd>
                                    <dd class="name"><a href="javascript:;">香吉思</a></dd>
                                    <dd class="sources">appstore</dd>
                                    <dd class="time">2010-11-27 12:42:05</dd>
                                </dl>
                                <p class="rDetail">第一次用，冲着可以修改图片来的，马赛克标记等。。</p>
							</div>
                            <div class="review">
                            	<div>2、这个版本好</div>
                                <dl class="rTitle">
                                    <dd><span class="stars star3"></span></dd>
                                    <dd class="name"><a href="javascript:;">星星的心</a></dd>
                                    <dd class="sources">应用宝</dd>
                                    <dd class="time">2010-11-27 12:42:05</dd>
                                </dl>
                                <p class="rDetail">第一次用，冲着可以修改图片来的，马赛克标记等。。</p>
							</div>
                            <div class="review">
                            	<div>3、这个版本好</div>
                                <dl class="rTitle">
                                    <dd><span class="stars star7"></span></dd>
                                    <dd class="name"><a href="javascript:;">驿动的心</a></dd>
                                    <dd class="sources">豌豆荚</dd>
                                    <dd class="time">2010-11-27 12:42:05</dd>
                                </dl>
                                <p class="rDetail">第一次用，冲着可以修改图片来的，马赛克标记等。。</p>
							</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="dn">
                	<li>
                    	<div class="searchDetail">
                            <div class="sdBor"><h3>搜索权重</h3></div>
                            <div class="sdBon">
                            	<p>预估搜索曝光量：20万</p>
                            </div>
                            <div class="sdBor"><h3>关键词数量</h3></div>
                            <div class="sdBon">
                                <p>关键词数量：680</p>
                                <div class="sImg"><img src="images/proImg.gif" alt="img"></div>
                            </div>
                            <div class="sdBor"><h3>数据明细</h3></div>
                            <div class="sdBon">
                            	<div class="searchDetailList">
                          	<table width="100%" border="0" class="customers">
                              <tr>
                                <th>日期</th>
                                <th>应用排名</th>
                                <th>搜索权重</th>
                                <th>关键词数量</th>
                                <th>预估搜索曝光量</th>
                              </tr>
                              <tr>
                                <td>2014/07/14</td>
                                <td>1</td>
                                <td>9</td>
                                <td>640</td>
                                <td>23000</td>
                              </tr>
                              <tr>
                                <td>2014/07/14</td>
                                <td>1</td>
                                <td>9</td>
                                <td>60</td>
                                <td>20300</td>
                              </tr>
                              <tr>
                                <td>2014/07/14</td>
                                <td>1</td>
                                <td>9</td>
                                <td>600</td>
                                <td>250000</td>
                              </tr>
                              <tr>
                                <td>2014/07/14</td>
                                <td>1</td>
                                <td>9</td>
                                <td>610</td>
                                <td>20000</td>
                              </tr>
						</table>
                        </div>
                         	</div>
                        </div>
                    </li>
                </ul>
                <ul class="dn">
                	<li>	
                    	<div class="searchDetail">
                   		  <div class="sdBor">
                          <h3 class="fl db">词库数量<span class="num">680</span></h3>
                          <select name="" class="fr select db">
                    		  <option value="1">Appstore</option>
                    		  <option value="2">应用宝</option>
                    		  <option>91手机助手</option>
                    		  <option>360手机助手</option>
                    		  <option>豌豆荚</option>
                   		  </select>
                          </div>
                          <div class="sdBon">
                          	<div class="searchDetailList">
                          	<table width="100%" border="0" class="customers">
                              <tr>
                                <th>序号</th>
                                <th>关键词</th>
                                <th>指数 ↓</th>
                                <th>排名</th>
                                <th>搜索结果数</th>
                                <th>趋势</th>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>QQ</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>24113</td>
                                <td class="c1">↑</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>QQ</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>24713</td>
                                <td class="c1">↑</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>应用宝</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>213</td>
                                <td class="c1">↑</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>豌豆荚</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>413</td>
                                <td class="c1">↑</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>QQ</td>
                                <td>200000</td>
                                <td>2</td>
                                <td>213</td>
                                <td class="c1">↑</td>
                              </tr>
						</table>
                        <div class="page mt10 fr"><span class="disabled"> 上一页 </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a>...<a href="#?page=11">11</a><a href="#?page=12">12</a><a href="#?page=2"> 下一页 </a></div>
						</div>
                         </div>
                        </div>
                    </li>
                </ul>
                <ul class="dn">
                	<li>	
                    	<div class="noSearchResult tc">无内容！</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
    	<p class="copy_link"><a href="javascript:;" >关于我们</a> <a href="javascript:;" >联系我们</a></p>
    	<p>Copyright © 2014-2015 应用宝库 版权所有　沪ICP备12031794号</p>
    </div>
</div>
<script type="text/javascript">
//浮层
window.onload = function() {var aBtn = document.getElementById("c_btn"),aCon = document.getElementById("c_list");aBtn.onclick = function() {if (aCon.style.display == "block") {aCon.style.display = "none";} else {aCon.style.display = "block";};};}
//tab切换
function tabChange(hd,bd,claName,callBack){var hdLis=document.getElementById(hd).getElementsByTagName("li");var bdUls = document.getElementById(bd).getElementsByTagName("ul");for(var i=0;i<hdLis.length;i++){	hdLis[i].index=i;hdLis[i].onclick=function(){for(var j=0;j<hdLis.length;j++){hdLis[j].className="";bdUls[j].style.display="none";}bdUls[this.index].style.display="block";this.className=claName.replace("{index}",this.index);};}}tabChange('tabHd','tabBd','on');
</script>
</body>
</html>
