<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="http://cdn.appbk.com/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="dashboard.css" rel="stylesheet" type="text/css">
<link href="http://www.appbk.com/resource/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="header">
  <div class="headerCon"> <a href="http://www.appbk.com/" class="db logo fl">logo</a>
    <ul class="fl">
      <li><a href="http://www.appbk.com/main/rank">统计排行</a></li>
      <li class="sLine">|</li>
      <li><a href="http://www.appbk.com/aso">搜索优化</a></li>
      <li class="sLine">|</li>
      <li><a href="http://blog.appbk.com/intro/" target="_blank">服务介绍</a></li>
    </ul>
    <div class="regLogin fr pr"> <a href="http://www.appbk.com/user/login">新浪微博登录</a></div>
  </div>
</div>

<!-- content 开始  -->
<div class="container-fluid">
  <div class="row"> 
    
    <!-- 导航栏开始  -->
    
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"> <a href="index.html">我的app</a> </li>
        <li> <a href="add_app.html">添加app</a> </li>
      </ul>
    </div>
    <!-- 导航栏结束  --> 
    
    <!-- main开始  -->
    <div class="col-md-10 col-md-offset-2 main">
      <h3 class="page-header">我的app列表</h3>
      <div class="searchResultList">
        <table width="100%" border="0">
          <tr>
            <td width="6%" rowspan="2" class="sRNum tc fb">1</td>
            <td width="9%" rowspan="2"><img src="http://a1355.phobos.apple.com/us/r30/Purple3/v4/90/8d/fd/908dfdc9-11b4-3452-1cfe-7bbbe5d146b1/Icon.png" width="72" height="72" class="sImg" alt="img"></td>
            <td width="80%"><span class="sRTitle c2"> <a href="app_process_app_info.html"> 今日头条 - 更快更全更懂你的移动新闻资讯平台 </a></span>
              <button type="button" class="btn btn-default btn-xs sRBtn">新闻</button>
              3559900下载</td>
            <td width="5%"><button type="button" class="btn btn-default btn-xs">
              <a href="#">删除</a>
              </button></td>
          </tr>
          <tr>
            <td> 来源: appstore </td>
          </tr>
        </table>
      </div>
      <div class="searchResultList">
        <table width="100%" border="0">
          <tr>
            <td width="6%" rowspan="2" class="sRNum tc fb">2</td>
            <td width="9%" rowspan="2"><img src="http://a1355.phobos.apple.com/us/r30/Purple3/v4/90/8d/fd/908dfdc9-11b4-3452-1cfe-7bbbe5d146b1/Icon.png" width="72" height="72" class="sImg" alt="img"></td>
            <td width="80%"><span class="sRTitle c2"> <a href="app_process_app_info.html"> 今日头条 - 更快更全更懂你的移动新闻资讯平台 </a></span>
              <button type="button" class="btn btn-default btn-xs sRBtn">新闻</button>
              3559900下载</td>
            <td width="5%"><button type="button" class="btn btn-default btn-xs">
              <a href="#">删除</a>
              </button></td>
          </tr>
          <tr>
            <td> 来源: appstore </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- main 结束  --> 
    
  </div>
</div>
<!-- content 结束  -->
</body>
</html>
