<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>应用宝库</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <div class="header">
    	<div class="headerCon">
        	<a href="javascript:;" class="db logo fl">logo</a>
        	<ul class="fl">
            	<li><a href="javascript:;">排行榜</a></li>
                <li class="sLine">|</li>
                <li><a href="javascript:;">搜索优化</a></li>
                <li class="sLine">|</li>
                <li><a href="javascript:;">趋势</a></li>
            </ul>
            <div class="regLogin fr pr">
            	<div class="dropdown">
  					<a id="dLabel" data-target="#" href="http://example.com" class="setUp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				<span class="glyphicon glyphicon-cog"></span>
  					</a>
					<dl class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <dd><a href="javascript:;"><span class="glyphicon glyphicon-inbox"></span>我的应用</a></dd>
                        <dd><a href="javascript:;"><span class="glyphicon glyphicon-th-large"></span>我的关注</a></dd>
                        <dd><a href="javascript:;"><span class="glyphicon glyphicon-user"></span>帐号设置</a></dd>
                        <dd><a href="javascript:;"><span class="glyphicon glyphicon-log-out"></span>退出</a></dd>
                    </dl>
				</div>
            </div>
            <div class="sInputShort fr pr">
            	<div class="input-group">
                  <input type="text" class="form-control">
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default">搜索</button>
          	</span>
        </div>
            </div>
        </div>
    </div>
    <div class="container">
    	<ol class="breadcrumb">
                  <li><a href="#">首页</a></li>
                  <li><a href="#">排行榜</a></li>
                  <li><a href="#">上升最快排行榜</a></li>
                  <li class="active">QQ HD</li>
		</ol>
        <div class="searchResultList">
                        	<table width="100%" border="0">
                              <tr>
                                <td width="6%" rowspan="2" class="sRNum tc fb">1</td>
                                <td width="9%" rowspan="2"><img src="images/sImg1.png" width="72" height="72" class="sImg" alt="img"></td>
                                <td width="80%"><span class="sRTitle">QQ</span> <button type="button" class="btn btn-default btn-xs sRBtn">社交</button>  4.1亿下载</td>
                                <td width="5%"><button type="button" class="btn btn-primary btn-xs">关注</button></td>
                              </tr>
                              <tr>
                                <td><span class="db sRIcon"><i class="sRImg db"><img src="images/icon1.png" alt="img"></i>12</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon2.png" alt="img"></i>8</span><span class="db sRIcon"><i class="sRImg db"><img src="images/icon3.png" alt="img"></i>9</span><span class="stars star5"></span><span class="grade fb">3.7分</span>(4555评论)</td>
                                <td><button type="button" class="btn btn-primary btn-xs">对比</button></td>
                              </tr>
							</table>
						</div>
                        <div class="searchResultCon">
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="active"><a href="#one1" role="tab" data-toggle="tab">详情</a></li>
                              <li><a href="#one2" role="tab" data-toggle="tab">下载量预估</a></li>
                              <li><a href="#one3" role="tab" data-toggle="tab">社区评论</a></li>
                              <li><a href="#one4" role="tab" data-toggle="tab">应用关键词</a></li>
                              <li><a href="#one5" role="tab" data-toggle="tab">搜索权重</a></li>
                            </ul>
                            <div class="tab-content searchTabCon">
                              <div class="tab-pane active" id="one1">
                              		<div class="searchDetail">
                    	<table width="100%" border="0" class="customers">
                              <tr>
                                <th width="7%">序号</th>
                                <th width="11%">关键词</th>
                                <th width="6%">排名</th>
                                <th width="11%">搜索指数</th>
                                <th width="13%">搜索结果数</th>
                                <th width="15%">优化难度</th>
                                <th width="12%">最近30天趋势</th>
                                <th width="11%">搜索研究</th>
                                <th width="14%">操作</th>
                              </tr>
                              <tr>
                              	<td><h3>1</h3></td>
                                <td>QQ</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>2</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>3</h3></td>
                                <td>QQ</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>4</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>5</h3></td>
                                <td>天天连萌</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>6</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>7</h3></td>
                                <td>天天飞车</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>8</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>9</h3></td>
                                <td>微信</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>10</h3></td>
                                <td>应用宝</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                        </table>
                        <div class="mt10 fr">
                              <ul class="pagination pagination-sm">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                              </ul>
    				</div></div>
                              </div>
                              <div class="tab-pane" id="one2">
                              		<div class="searchDetail">
                            <div class="sdBor"><h3>下载趋势：<small>最近30天</small></h3></div>
                            <div class="sdBon">
                            	<img src="http://placehold.it/858x350" alt="" />
                            </div>
                            <div class="sdBor"><h3>总下载量</h3></div>
                            <div class="sdBon">
                            	<table width="100%" border="0" class="customers">
                              <tr>
                                <th>市场</th>
                                <th>百度手机助手</th>
                                <th>360</th>
                                <th>豌豆荚</th>
                                <th>google play</th>
                                <th>小米</th>
                                <th>应用宝</th>
                                <th>appstore</th>
                              </tr>
                              <tr>
                              	<td>下载总量：</td>
                                <td>2000万</td>
                                <td>5000万</td>
                                <td>1000万</td>
                                <td>4000万</td>
                                <td>7000万</td>
                                <td>2000万</td>
                                <td>1000万</td>
                              </tr>
                        </table>
                            </div>
                        </div>
                              </div>
                              <div class="tab-pane" id="one3">无内容</div>
                              <div class="tab-pane" id="one4">无内容</div>
                              <div class="tab-pane" id="one5">
                                <div class="searchDetail">
                              <table width="100%" border="0" class="customers">
                              <tr>
                                <th width="7%">序号</th>
                                <th width="11%">关键词</th>
                                <th width="6%">排名</th>
                                <th width="11%">搜索指数</th>
                                <th width="13%">搜索结果数</th>
                                <th width="15%">优化难度</th>
                                <th width="12%">最近30天趋势</th>
                                <th width="11%">搜索研究</th>
                                <th width="14%">操作</th>
                              </tr>
                              <tr>
                              	<td><h3>1</h3></td>
                                <td>QQ</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>2</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>3</h3></td>
                                <td>QQ</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>4</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>5</h3></td>
                                <td>天天连萌</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>6</h3></td>
                                <td>QQ HD</td>
                                <td>3</td>
                                <td>24</td>
                                <td>45645</td>
                                <td>6</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">取消收藏</button></td>
                              </tr>
                              <tr>
                              	<td><h3>7</h3></td>
                                <td>天天飞车</td>
                                <td>1</td>
                                <td>23</td>
                                <td>456546</td>
                                <td>8</td>
                                <td><img src="http://placehold.it/120x25" alt="" /></td>
                                <td><button class="btn btn-default btn-xs sRBtn" type="button">查看</button></td>
                                <td><button class="btn btn-primary btn-xs" type="button">收藏</button></td>
                              </tr>
                        </table>
                              <div class="mt10 fr">
                              <ul class="pagination pagination-sm">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                              </ul>
    				</div></div>
                              </div>
                            </div>
        				</div>
    </div>
    <div class="footer">
    	<p class="copy_link"><a href="javascript:;" >关于我们</a> <a href="javascript:;" >联系我们</a></p>
    	<p>Copyright © 2014-2015 应用宝库 版权所有　沪ICP备12031794号</p>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">
$('.dropdown-toggle').dropdown()
//tab切换
$(function () {
    $('#myTab a').tab('show')
  })
</script>
</body>
</html>
